<!--Footer-->
<footer class="bg-dark text-center text-white mt-4 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-3 ml-3">
          <h2 class="ml-2">
            <img
              src="../assets/images/header/logo.png"
              style="width: 150px"
              alt=""
            />
          </h2>
        </div>
        <div class="col-md-4" id="footer_security">
          <h5>Hỗ trợ khách hàng</h5>
          <hr />
          <li>
            <a href="#">Chính sách bảo mật</a>
          </li>
          <li>
            <a href="#">Chính sách bảo mật & Đổi trả</a>
          </li>
          <li>
            <a href="#">Hình thức thanh toán & Vận chuyển</a>
          </li>
        </div>
        <div class="col-md-4" id="signUpFor">
          <h5>Đăng ký nhận tin</h5>
          <hr />
          <li>
            Đăng ký nhận bản tin để không bỏ lỡ thông tin khuyến mãi, luôn nhận
            được chương trình ưu đãi đặc biệt.
          </li>
          <label>
            <input
              type="text"
              placeholder="Nhập email của bạn"
              style="width: 300px; height: 50px; border-radius: 10px"
              class="mt-4"
            />
          </label>
          <br />
          <label>
            <button class="btn btn-light btn-outline-dark btn_sign">
              Đăng kí
            </button>
          </label>
        </div>
      </div>
    </div>
  </footer>
  